<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
</head>
<body>
	<h1>Login Page</h1>
	 <!-- 인증된 사용자 이메일 표시 -->
    <p id="userEmail" th:text="'현재 로그인된 사용자: ' + ${email}"></p>

	<!-- 네이버 소셜 로그인 버튼 -->
	<a href="/api/v1/auth/oauth2/naver"> <img
		src="https://static.nid.naver.com/oauth/small_g_in.PNG"
		alt="네이버 로그인 버튼">
	</a>

	<a href="/api/v1/auth/oauth2/kakao"> <!-- <img src="static/imgs/kakao_login_medium_narrow.png"> -->
		카카오 로그인
	</a>
	<button id="logoutButton">Logout</button>
	<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		
	  
	    let accessToken = localStorage.getItem('accessToken');
        loginedUser(accessToken);
        logout(accessToken);
        
	    
	});

function logout(accessToken){
	logoutButton.addEventListener('click', function() {	
        // 로그아웃 API로 요청 전송
        fetch('/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${accessToken}` // 액세스 토큰을 헤더에 담아서 보냄
            },
        })
        .then(response => {
            if (response.ok) {
                // 로그아웃 성공 시 토큰 삭제
                localStorage.removeItem('accessToken');
                alert('로그아웃 되었습니다.');
                window.location.href = "/login"; // 로그아웃 후 리다이렉트
            } else {
                throw new Error('로그아웃 실패');
            }
        })
        .catch(error => {
            console.error('에러 발생:', error);
        });
    });
}

function loginedUser(accessToken) {
	 fetch('/user/login/api/userInfo', {
         method: 'POST',
         headers: {
             'Content-Type': 'application/json',
             'Authorization': `Bearer ${accessToken}` // 액세스 토큰을 헤더에 담아서 보냄
         },
     })
    .then(response => {
        if (response.ok) {
            return response.text(); // 응답 본문을 텍스트로 읽음
        } else {
            throw new Error('사용자 정보를 가져오는 데 실패했습니다.');
        }
    })
    .then(email => {
        document.getElementById("userEmail").innerText = `현재 로그인된 사용자: ${email}`; // 이메일을 표시
    })
     .catch(error => {
         document.getElementById("userEmail").innerText = `현재 로그인된 사용자: ${email}`; // 이메일을 표시
         console.error('에러 발생:', error);
     });
	
}
</script>
</body>
</html>
