<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
	<input type="file" id="p_Img">

	<div id="p_Info">
		<input type="text" id="p_name" placeholder="상품 이름">
		<input type="number" id="p_stock" placeholder="재고 수">
		<input type="number" id="p_price" placeholder="상품 가격">
		<select id="p_category"></select>
		<input type="text" id="p_description"placeholder="상품 설명">
	</div>
	
	<script type="text/javascript">
	
	function getCategory(){
		
		// GET 요청 보내기
		axios.get('/api/admin/product/category')
		  .then(response => {
		    console.log('응답 데이터:', response.data);
		  })
		  .catch(error => {
		    console.error('에러 발생:', error);
		  });
	}
	</script>
</body>
</html>