<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Save</title>
</head>
<body>
    <h1>토큰 저장 중...</h1>

    <script>
        /* document.addEventListener("DOMContentLoaded", function() {
            // 서버에서 전달받은 액세스 토큰을 헤더에서 추출
            const accessToken = '<%= request.getHeader("Authorization") %>';            
            if (accessToken) {
                // 로컬 스토리지에 저장
                localStorage.setItem('accessToken', accessToken);
                console.log("Access Token 저장 완료");
            } else {
                console.error("Access Token이 없습니다.");
            }
            
            // 저장 후 메인 페이지로 리다이렉트
            window.location.href = "/";
        }); */
    </script>
</body>
</html>
